body {
  color: #0094ff;
  font-family: "Consolas";
  margin-top: 25px;
}

body::first-letter {
  font-family: "Edwardian Script ITC";
  font-weight: bold;
  font-size: 2em;
}

@font-face {
    font-family: Edwardian Script ITC;
    src: url(EdwardianScriptITC.ttf);
}