nav {
  text-align: center;
}

.clear {
  clear: both;
}

.laptops {
  float: left;
}

.laptops>fieldset:nth-of-type(even) {
  float: left;
}

.laptops>fieldset:nth-of-type(odd) {
  float: left;
  clear: left;
}

.laptops>fieldset img {
  height: 100px;
  float: left;
}

.laptops>fieldset span {
  float: right;
  clear: right;
}

.laptops>fieldset span:not(.left):not(:last-of-type):not(:first-of-type) {
  margin-top: 20px;
}

.laptops>fieldset span:first-of-type {
  margin-top: calc(35% - 20px*2);
}

.laptops>fieldset span.left {
  clear: left;
  float: left;
}

.filters {
  float: left;
}

.filters>.field .title {
  float: left;
}

.filters>.field .value {
  float: right;
}

.filters>.field .slider {
  clear: both;
}

.filters>.field .slider input {
  width: 100%;
}

/*
 * I can't seem to align the .filters float to be in the center of .main
 * and I'm guessing CSS tables aren't allowed, so I'm going to leave this as
 * is right now.
 */
